@font-face {
    font-family: 'sweet_creamyregular';
    src: url('../assets/sweet_creamy-webfont.woff2') format('woff2'),
         url('../assets/sweet_creamy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sweet_creamyitalic';
    src: url('../assets/sweet_creamy_italic-webfont.woff2') format('woff2'),
         url('../assets/sweet_creamy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sweet_creamyitalic';
    src: url('../assets/sweet_creamy_italic-webfont.woff2') format('woff2'),
         url('../assets/sweet_creamy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'purrfectregular';
    src: url('../assets/purrfect-webfont.woff2') format('woff2'),
         url('../assets/purrfect-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    /* CSS HSL */
    --tea-green: hsla(98, 49%, 82%, 1);
    --buff: hsla(48, 81%, 75%, 1);
    --vivid-tangerine: hsla(8, 72%, 72%, 1);
    --rhythm: hsla(238, 12%, 55%, 1);
    --cadet-grey: hsla(206, 16%, 65%, 1);
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    background-color: var(--tea-green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buff);
    height: var(--header-height);
    font-family: 'purrfectregular';
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

form {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
img {
    height: 300px;
}

#map-quests img {
    height: 400px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

